/* general */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
    margin: 0;
	box-sizing: inherit;
}

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

.homepage{
    font-family: 'Source Sans 3', sans-serif;
}

ol, ul, li {
	list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

/* clearfix */
.group:before,
.group:after {
	content: " ";
	display: table;
}

.group:after {
	clear: both;
}

/* Header */

#header {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	position: relative;
	height: 24em;
	background: #df3b3b;
	background-size: cover;
	padding: 0;
}

#header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #df3b3b;
}

.homepage #header {
	height: 5em;
}

/* Nav */

#nav {
	position: absolute;
	display: block;
	top: 0.5em;
    font-size: 18px;
	left: 0;
	width: 100%;
	text-align: center;
}

#nav > ul > li {
	display: inline-block;
	text-align: center;
	padding: 0 1.5em 0 1.5em;
}

#nav > ul > li > ul {
	display: none;
}

#nav > ul > li > a, #nav > ul > li > span {
	display: block;
	color: #eee;
	color: rgba(255, 255, 255, 0.75);
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.7em;
	letter-spacing: 0.25em;
	height: 5em;
	line-height: 5em;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	outline: 0;
}

#nav > ul > li:hover > a {
	color: #fff;
}

/* Cover */

.cover {
    background: #fff url(../img/HouseKitchen.png) 50% 0 no-repeat;
    height: 900px;
	position: relative;
}

/* Main */

.container {
    display: block;
    text-align: center;
}

.post-title {
    font-size: 30px;
    font-weight: 100;
    color: #df3b3b;
}

.important {
    font-size: 30px;
    font-weight: 700;
    color: #df3b3b;
}

.description {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    line-height: 30px;
    color: #cdcdcd;
    font-weight: 100;
}

/* Button */

.button {
    margin-top: 60px;
    padding: 16px 120px;
    font-size: 20px;
    font-weight: 100;
    display: inline-block;
    background:#df3b3b;
    border-radius: 10px;
}

/* Footer */

.footer-style {
    background: #df3b3b;
    height: 500px;
    margin-top: 150px;
}

#icons {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	text-align: center;
    margin-top: 140px;
}

#icons > ul > li {
	display: inline-block;
	text-align: center;
}

#icons > ul > li > ul {
	display: none;
}

#icons > ul > li > a, #icons > ul > li > span {
	font-size: 4em;
	letter-spacing: 1em;
}

#icons > ul > li:hover > a {
	color: #fff;
}

.facebook-icon,
.instagram-icon,
.pinterest-icon {
    color: #ec5353;
}

/* Footer info */

.footer-info {
    display: block;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.1em;
    padding-top: 340px;
    font-size: 20px;
    color: #ab3535;
}

div .footer-info > p:last-child {
    padding-top: 30px;
}